%light {
    font-family: 'Basis Grotesque Pro Light';
    font-style: normal;
    font-weight: 300;
}

%regular {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 400;
}

%bold{
    font-family: 'Basis Grotesque Pro Bold';
    font-style: normal;
    font-weight: 700;
}

body{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #000000;
}

.container{
    width: 100%;
    box-sizing: boarding-box;
}

.about{
    &__content{
        padding: 150px 35px 0px 210px
    }

    &__tabs{
        margin-top: 100px;
        width: 100%;
    }
}

.section-header{
    &__subtitle{
        @extend %bold;
        text-transform: uppercase;
        color: #0536FC;
        opacity: 0.9;
    }

    &__title{
        @extend %bold;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        margin: 30px 0px 70px 0px;
    }

    &__description{
        @extend %light;
        opacity: 0.35;
    }
}

.nav-link{
    color: #0536FC;
}

.who{
    &__container{
        padding: 427px 0px 0px 0px;
        background-image: url(./img/bg-who.jpg);
        background-position: center center;
        background-size: cover;
    }

    &__card{
        padding: 120px 20px 130px 120px;
        background-color: #fff;
    }
}

.button{
    margin-top: 100px;
    background: #0536FC;
    @extend %regular;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 35px;
}





@media screen and (max-width: 1140px){
    .about{
        &__content{
            padding: 150px 35px 0px 100px
        }
    }

    .who{
        &__container {
            padding: 300px 0px 0px 0px;
        }
        
        &__card {
            padding: 50px 20px 50px 60px;
        }
    }
}

@media screen and (max-width: 850px){
    .section-header__title {
        font-size: 30px;
        line-height: 34px;
        margin: 30px 0px 30px 0px;
    }

    .about{
        &__content{
            padding: 50px 35px 0px 50px
        }

        &__tabs{
            margin-top: 50px;
        }
    }

    .who{
        &__container {
            padding: 100px 0px 0px 0px;
        }
    }

    .button{
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px){
    .section-header__title {
        font-size: 25px;
        line-height: 29px;
    }
}